node_modules/
dist/
.env
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
data/backup-center.sqlite
data/backup-center.sqlite-shm
data/backup-center.sqlite-wal
data/logs/
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.next
